/**
    *{ bildirimi tüm sayfa için geçerli olduğunu bildirir
        */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height: 80px;
    float: left;
    color: #0e4a7c;
}

nav{
    float: right;
    line-height: 80px;
}

nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: #0e4a7c;
}

nav a:hover{
    border-bottom: 2px solid #0e4a7c;
}

nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: #0e4a7c;
}

.icon-x{
    margin-right: 10px;
    font-size: 20px;
}

#banner{
    height: 600px;
    background-image: url("../img/r2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.5;
}

#content{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
}

#about-us{
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

h3{
    font-size: 55px;
    color:#003666;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.container{
    width: 1200px;
    height: auto;
    margin: auto;
}

#left{
    float:left;
    border-right: 3px solid #445c6e;
    font-size: 30px;
    width: 400px;
    color: #445c6e;
}

#h5-left{
    line-height: 1.6;
    font-size: 20px;
    font-weight: 600;
}

#h5-left, #right{
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    float: left;
}

#right{
    float: right;
    width: 750px;
    color: #999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 200;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mt100{
    margin-top: 100px;
}

#p-end{
    color: #999777;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 200;
}

#educations{
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 700px;
}

.card{
    width: 320px;
    height: 360px;
    border: 1px solid #ddd;
    padding: 0;
    display: inline-block;
}

.card:hover{
    border: 2px solid black;
    width: 360px;
    height: 400px;
}

.title-card{
    font-size: 15px;
    color: #003666;
}

.card-p{
    color: #888;
}

#team{
    background-color: #003666;
    padding: 50px;
    height: 750px;
    text-align: center;
}

#team-h3{
    color: #fff;
}

.column-left-right{
    width: 380px;
    float: left;
    padding: 50px;
}

.oval{
    border-radius: 50%;
}

.employee-name{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}

.employee-description{
    color: #888;
    font-size: 15px;
}

.social{
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 10px;
}

.social:hover{
    background-color: white;
    color: #003666;
}

.column{
    width: 380px;
    float: left;
    padding: 30px;
}

#contact{
    background: url(../img/iletisim.jpg);
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
}

#h3-contact{
    color: #fff;
}

#contact-opaque{
    background: rgba(255, 255, 255, 0.2);
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}

#form-group{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#left-form{
    width: 50%;
    float: left;
    padding-right: 5px;
}

#right-form{
    width: 50%;
    float: right;
    padding-left: 5px;
}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}


textarea{
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #445c6e;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color:white;
    margin-left: 10px;
    margin-top: 10px;
}

#address{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#address-title{
    font-size: 30px;
    color: white;
}

.address-p{
    color: #ddd;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copyright{
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#up{
    font-size: 25px;
    color: white;
    margin: 10px;
}
